#outer_container{
	float:left;
	width:100%;
}
#brown{
	float:left;
	width:55%;
	height:40 rem;
	background-color: brown;
}
#green{
	float:left;
	width:45%;
	height:20 rem;
	background-color: green;
}
#red{
	float:left;
	width:45%;
	height:20rem;
	background-color: red;
}
*{
	box-sizing: border-box;
}